<div class="container justify-content-center d-flex">
  <div class="col-md-6">
    <form [formGroup]="form1Adviser" action="" autocomplete="off">
      <!-- Campo de ocupacion -->
      <div class="mb-3 row justify-content-center">
        <input
          type="text"
          class="form-control"
          formControlName="ocupation"
          placeholder="Ocupacion Actual*"
          pattern="^[a-zA-Z\s]*$"
        />

        <p class="text-danger" *ngIf="fieldValid('ocupation')">
          Ocupacion Requerida
        </p>

        <p class="text-danger" *ngIf="validPattern('ocupation')">
          Debe contener solo letras.
        </p>
      </div>

      <!-- Campo de Estado Civil -->

      <div class="mb-3 row">
        <select
          class="form-select"
          formControlName="maritalStatus"
          aria-label="Default select example"
        >
          <option value="" disabled>Edo. Civil*</option>
          <option value="soltero">Soltero</option>
          <option value="casado">Casado</option>
          <option value="divociado">Divorciado</option>
          <option value="viudo">Viudo</option>
        </select>
        <p class="text-danger" *ngIf="fieldValid('maritalStatus')">
          Campo Requerido
        </p>
      </div>
      <!-- Campo de Hijos -->

      <div class="mb-3 row">
        <select
          class="form-select"
          formControlName="children"
          aria-label="Default select example"
        >
          <option value="" selected>
            <Table>Tienes Hijos?*</Table>
          </option>
          <option value="si">Si</option>
          <option value="no">No</option>
        </select>
        <p class="text-danger" *ngIf="fieldValid('children')">
          Campo Requerido
        </p>
      </div>
    </form>
  </div>
</div>
