<div class="container ">
  <div class="row">
    <h3>¿Posees alguna tarjeta que te permita hacer compras online?</h3>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-secondary">Si</button>
      <button type="button" class="btn btn-secondary">No</button>
    </div>
  </div>
  <div class="row">
    <h3>¿Actualmente estas trabajando?</h3>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-secondary">Si</button>
      <button type="button" class="btn btn-secondary">No</button>
      <button type="button" class="btn btn-secondary">Otro</button>
    </div>
  </div>
  <div class="row ">
    <h3>
      ¿Estás dispuesto a invertir para tu uso personal y para tu hogar 120$
      aproximadamente en productos?
    </h3>
    <h2>Considerando que a su vez esto te ayudará a obtener ganancias.</h2>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-secondary">Si</button>
      <button type="button" class="btn btn-secondary">No</button>
    </div>
  </div>
</div>
