@media (min-width: 1440px) {
  h2 {
    margin-bottom: 70px;
  }
  h3 {
    margin-top: 75px;
  }
}

.kit {
  cursor: pointer;
  transition: background-color 0.8s linear 0.1s;
}
.kit:hover{
    background-color: rgb(160, 160, 160);
}

.active {
  border: 4px solid #ccb16b;
  box-shadow: none !important;
  background-color: rgb(160, 160, 160);
}

