<div class="container overflow-hidden">
  <div class="row text-center">
    <h3>KITS RECOMENDADOS</h3>
    <h2>PARA TI</h2>
  </div>
  <ng-template #spinner>
    <div class="text-center text-danger" >
      <p>Debe seleccionar al menos una afeccion</p>
    </div>
    <div class="spinner">
      <div class="double-bounce1"></div>
      <div class="double-bounce2"></div>
    </div>
  </ng-template>
  <!-- <pre>{{ data }}</pre> -->
  <div class="row ">
    <ng-container *ngIf="items.length > 0; else spinner">
      <div class="card-group text-center animate__animated animate__fadeIn">
        <div class="card m-3 shadow p-3"  *ngFor="let item of items">
          <img
            class="card-img-top"
            src="{{item.imgUrl}}"
            alt="{{item.name}}"
          />
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
          </div>
        </div>

      </div>
    </ng-container>
  </div>
</div>
