<div class="container justify-content-center">
  <form class="form1" autocomplete="off" [formGroup]="form1">
    <!-- Campo de Nombre -->
    <div class="mb-1 row justify-content-center">
      <div class="col-sm-6">
        <input
          type="text"
          class="form-control"
          formControlName="name"
          placeholder="Nombre y Apellido*"
          pattern="^[a-zA-Z\s]*$"
        />
        <p class="m-2 text-danger" *ngIf="fieldValid('name')">
          El nombre y el apellido son requeridos
        </p>
        <p class="text-danger" *ngIf="validPattern('name')">
          Debe contener solo letras.
        </p>
      </div>
    </div>
    <!-- Campo de Email -->
    <div class="mb-5 row justify-content-center">
      <div class="col-sm-6">
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Correo Electronico*"
        />
        <p class="m-2 text-danger" *ngIf="fieldValid('email')">
          El correo es requerido
        </p>
        <p class="m-2 text-danger" *ngIf="validPattern('email')">
          Debe ser un correo valido
        </p>
      </div>
    </div>
    <!-- Campo de Telefono -->
    <div class="mb-2 row justify-content-center">
      <div class="col-sm-6">
        <ngx-intl-tel-input
          [preferredCountries]="preferredCountries"
          [enableAutoCountrySelect]="true"
          [enablePlaceholder]="true"
          [searchCountryFlag]="true"
          [phoneValidation]="true"
          [searchCountryField]="[
            SearchCountryField.Iso2,
            SearchCountryField.Name
          ]"
          [selectedCountryISO]="CountryISO.Venezuela"
          [separateDialCode]="separateDialCode"
          [numberFormat]="PhoneNumberFormat.National"
          name="phone"
          formControlName="phone"
          [maxLength]="'15'"
        >
        </ngx-intl-tel-input>
        <p class="m-1 text-danger col-sm-6 row" *ngIf="fieldValid('phone')">
          Campo incorrecto
        </p>
      </div>
    </div>
    <!-- Campo de Pais -->
    <div class="mb-3 row justify-content-center">
      <div class="col-sm-6">
        <select class="form-select" formControlName="country">
          <option value="" disabled selected>Seleccione Pais de origen</option>
          <option *ngFor="let country of countries" [value]="country.name">
            {{ country.name }}
          </option>
        </select>
        <p class="text-danger" *ngIf="fieldValid('country')">
          Pais de origen es Requerido
        </p>
      </div>
    </div>
    <!-- Campo de Pais de recidencia-->
    <div class="mb-4 row justify-content-center">
      <div class="col-sm-6">
        <select class="form-select" formControlName="resCountry">
          <option value="" disabled selected>
            Selecciona pais de recidencia
          </option>
          <option *ngFor="let country of countries" [value]="country.name">
            {{ country.name }}
          </option>
        </select>

        <p class="text-danger" *ngIf="fieldValid('resCountry')">
          Pais de residencia es Requerido
        </p>
      </div>
    </div>
  </form>
</div>
