<div class="container">
  <div class="row text-center">
    <h3>
      Esta es tu opción si quieres vivir el estilo de vida dōTERRA y tener mayor
      bienestar emocional y físico.
    </h3>
    <h2>Queremos saber más sobre ti:</h2>
  </div>
    <form class="col-6 " action="" [formGroup]="form1Client"  autocomplete="off">
      <!-- Campo de ocupacion -->
      <div class="mb-3 ">
        <select class="form-select" formControlName="sons" aria-label="Default select example">
          <option value="" disabled>¿Tienes Hijos?</option>
          <option value="Si">Si</option>
          <option value="No">No</option>
        </select>
        <p class="form-text text-danger" *ngIf="fieldValid('sons')">
          Campo Requerido 
        </p>
      </div>
      

      <div class="mb-3">
        <input type="text" class="form-control" formControlName="sport" placeholder="¿Practicas algún deporte o pasatiempo?*" />
        <p class="form-text text-danger" *ngIf="fieldValid('sport')">
          Campo Requerido 
        </p>
      </div>
    </form>
  </div>
</div>
