<div class="container">
  <div class="row text-center">
    <h3>KITS RECOMENDADOS</h3>
    <h2>PARA TI</h2>
  </div>
  <div class="row">
    <div class="card-group text-center">
      <div class="card m-1">
        <img
          class="card-img-top"
          src="../../../../assets/img/kits.png"
          alt="Kits"
        />
        <div class="card-body">
          <h5 class="card-title">Kit Hábitos Saludables</h5>
        </div>
      </div>
      <div class="card m-1">
        <img
          class="card-img-top"
          src="../../../../assets/img/kits.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
        </div>
      </div>
      <div class="card m-1">
        <img
          class="card-img-top"
          src="../../../../assets/img/kits.png"
          alt="Card image cap"
        />
        <div class="card-body">
          <h5 class="card-title">Kit de Inicio Saludable</h5>
        </div>
      </div>
    </div>
  </div>
</div>
