<section class="welcome">
  <header>
    <div class="container">
      <div class="row">
        <div>
          <img
            id="logo"
            [src]="'assets/img/logo-blanco.svg'"
            height="50px"
            width="auto"
            alt="logo"
          />
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container" id="blank-space">
      <div class="row">
        <div
          class="text-center text-white"
          style="display: flex; justify-content: center"
        >
          <h2>
            Queremos conocer un poco más de ti para así poder ayudarte mejor.
          </h2>
        </div>
        <div class="row mx-2">
          <button
            id="button-start"
            class="btn btn-primary mx-auto"
            type="button"
          >
            <p>¡Comencemos!</p>
          </button>
        </div>
      </div>
    </div>

    
  </main>
</section>

<section class="about-us">
  <div class="container">
    <ul class="text-white">
      <li>
        <p>
          A la cabeza de <strong>La Tribu Esencial</strong> estamos Inger Devera
          y Mavi Silva. Las dos somos mamás dedicadas a la crianza de nuestros
          hijos y a nuestro hogar.
        </p>
      </li>
      <li>
        <p>
          Después de buscar por mucho tiempo una manera de generar ingresos que
          nos permitiera seguir cerca de nuestros hijos, doTERRA llegó a
          nosotras como la solución perfecta a nuestras necesidades. Tomamos la
          decisión de elegir este camino en Febrero de 2020 y estamos más que
          felices de haberlo hecho. ¡Ha sido una aventura maravillosa!
        </p>
      </li>
      <li>
        <p>
          Nuestra comunidad ya cuenta con más de 2000 personas viviendo el
          estilo de vida doTERRA.
        </p>
      </li>
    </ul>
  </div>
  <div class="container" id="blank-space">
    <div class="row">
      <div
        class="text-center text-white"
        style="display: flex; justify-content: center"
      >
        <h2>
          “Reunirse es el comienzo; mantenerse juntos es el progreso; trabajar
          juntos es el éxito ”
        </h2>
      </div>
      <div class="row mx-auto">
        <button id="button-start" class="btn btn-primary" type="button">
          <p>¡Comencemos!</p>
        </button>
      </div>
    </div>
  </div>
</section>
