<div class="container mt-5 text-center">
    <div class="mb-3">
      <span>Cliente (a)</span>
    </div>
    <fieldset
      *ngIf="step == 1"
      [ngClass]="
        status
          ? 'animate__animated animate__fadeInRight'
          : 'animate__animated animate__fadeInLeft'
      "
    >
      <app-form1-client></app-form1-client>
    </fieldset>

    <fieldset
      *ngIf="step == 2"
      [ngClass]="
        status
          ? 'animate__animated animate__fadeInRight'
          : 'animate__animated animate__fadeInLeft'
      "
    >
      <app-diseases></app-diseases>
    </fieldset>

    <fieldset
      *ngIf="step == 3"
      [ngClass]="
        status
          ? 'animate__animated animate__fadeInRight'
          : 'animate__animated animate__fadeInLeft'
      "
    >
      <app-kits></app-kits>
    </fieldset>

    <fieldset
      *ngIf="step == 4"
      [ngClass]="
        status
          ? 'animate__animated animate__fadeInRight'
          : 'animate__animated animate__fadeInLeft'
      "
    >
      <app-last-page></app-last-page>
    </fieldset>

    <!-- Botones prev y next -->

    <div class="row justify-content-center">
      <button
        *ngIf="step != 1"
        (click)="previous()"
        type="button"
        name="previous"
        class="btn btn-danger col-1"
        value="Previous"
      >
        <
      </button>

      <button
        *ngIf="step != 4"
        (click)="next()"
        type="button"
        name="next"
        class="btn btn-primary col-1"
        value="Next"
      >
        >
      </button>
    </div>
</div>
