<section class="welcome animate__animated animate__fadeIn overflow-hidden">
  <header>
    <div class="container">
      <div class="row">
        <div>
          <img
            id="logo"
            [src]="'assets/img/logo-blanco.svg'"
            height="50px"
            width="auto"
            alt="logo"
            class="animate__animated animate__fadeInLeft"
          />
        </div>
      </div>
      <div
        class="
          row
          justify-content-center
          align-items-center
          m-3
          animate__animated animate__fadeInUp
        "
      >
        <div class="text-center">
          <h3>Gracias por ser parte de</h3>
          <h1 class="text-white">nuestra Tribu</h1>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="container animate__animated animate__fadeInUp overflow-hidden" id="blank-space">
      <div class="row">
        <div
          class="text-center text-white p-4"
          style="display: flex; justify-content: center"
        >
          <h2>
            Queremos conocer un poco más de ti para así poder ayudarte mejor.
          </h2>
        </div>
        <div class="row mx-2 mb-5">
          <button
            id="button-start"
            class="btn btn-primary mx-auto animate__animated animate__fadeInUp"
            type="button"
            routerLink="/pasos"
          >
            <p>¡Comencemos!</p>
          </button>
        </div>
      </div>
    </div>
  </main>
</section>

<section class="about-us animate__animated animate__fadeInUp">
  <div class="container">
    <ul class="text-white">
      <li>
        <p>
          A la cabeza de <strong>La Tribu Esencial</strong> estamos Inger Devera
          y Mavi Silva. Las dos somos mamás dedicadas a la crianza de nuestros
          hijos y a nuestro hogar.
        </p>
      </li>
      <li>
        <p>
          Después de buscar por mucho tiempo una manera de generar ingresos que
          nos permitiera seguir cerca de nuestros hijos, doTERRA llegó a
          nosotras como la solución perfecta a nuestras necesidades. Tomamos la
          decisión de elegir este camino en Febrero de 2020 y estamos más que
          felices de haberlo hecho. ¡Ha sido una aventura maravillosa!
        </p>
      </li>
      <li>
        <p>
          Nuestra comunidad ya cuenta con más de 2000 personas viviendo el
          estilo de vida doTERRA.
        </p>
      </li>
    </ul>
  </div>
  <div class="container overflow-hidden" id="blank-space">
    <div class="row">
      <div
        class="text-center text-white"
        style="display: flex; justify-content: center"
      >
        <h2>
          “Reunirse es el comienzo; mantenerse juntos es el progreso; trabajar
          juntos es el éxito ”
        </h2>
      </div>
      <div class="row mx-auto mb-5">
        <button
          id="button-start"
          class="btn btn-primary"
          type="button"
          routerLink="/pasos"
        >
          <p>¡Comencemos!</p>
        </button>
      </div>
    </div>
  </div>
</section>
