<div class="container justify-content-center">
    <div class="row">

        <form (ngSubmit)="guardar()" class="form1" autocomplete="off" [formGroup]="form1">
            
            <!-- Campo de Email -->
            <div class="mb-3 row">
                <div class="col-md-6">
                    
                    <input type="email"
                           class="form-control"
                           formControlName="email"
                           placeholder="Correo Electronico*">

                    <span class="form-text text-danger"
                          *ngIf="fieldValid('email')">
                        El correo es Requerido
                    </span>
                </div>
            </div>

            <!-- Campo de Nombre -->
            <div class="mb-3 row ">
                <div class="col-sm-12">
                    <input type="text"
                           class="form-control "
                           formControlName="name"
                           placeholder="Nombre y Apellido*">
                    <span class="form-text text-danger"
                          *ngIf="fieldValid('name')">
                        El nombre y el apellido son requeridos
                    </span>
                </div>
            </div>

            <!-- Campo de Pais -->
            <div class="mb-3 row">
                <div class="col-sm-12">
                    <input type="text"
                           class="form-control"
                           formControlName="country"
                           placeholder="Pais de Origen*">
                    
                    <span class="form-text text-danger"
                           *ngIf="fieldValid('country')">
                         Pais es Requerido
                    </span>
                </div>
            </div>
             <!-- Campo de Pais -->
             <div class="mb-3 row">
                <div class="col-sm-12">
                    <input type="text"
                           class="form-control"
                           formControlName="countryRes"
                           placeholder="Pais de Residencia*">
                    
                    <span class="form-text text-danger"
                           *ngIf="fieldValid('countryRes')">
                         Pais de residencia es Requerido
                    </span>
                </div>
            </div>
            <!-- Campo de Telefono -->
            <div class="mb-3 row">
                <div class="col-sm-12">
                    <input type="text"
                           class="form-control"
                           formControlName="phone"
                           placeholder="Telefono*">
                    
                    <span class="form-text text-danger"
                           *ngIf="phoneIsValid('phone')">
                         Un Telefono es Requerido
                    </span>
                    <span>
                        
                    </span>
                </div>
            </div>
        </form>

    </div>
</div>
