<div class="container overflow-hidden">
  <div class="row text-center">
    <h3>Cuales son tus mayores preocupaciones de salud ?</h3>
    <h2>Selecciona tantas como sean necesarias</h2>
  </div>
  <div class="row justify-content-center text-center overflow-hidden">
    <ng-template #spinner>
      <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
      </div>
    </ng-template>
    <ng-container *ngIf="Data.length > 0; else spinner"  class="row justify-content-center">
      <form [formGroup]="form" class="col-md-6 col-sm-12">
        <ul class="diseases animate__animated animate__fadeIn ">
          <li class="diseases-list" *ngFor="let data of Data; let i = index">
            <div class="">
              <input
                type="checkbox"
                class="checkbox"
                [id]="data.id"
                [value]="data.id"
                
                (change)="onCheckboxChange($event)"
                [checked]="values.includes(data.id)" 
              />

              <label [for]="data.id">
                <div class="title">{{ data.name }}</div>
              </label>
            </div>
          </li>
        </ul>
      </form>
    </ng-container>
  </div>
</div>
