<div class="container overflow-hidden ">
  <div class="row text-center">
    <h3>Cuales son tus mayores preocupaciones de salud ?</h3>
    <h2>Selecciona tantas como sean necesarias</h2>
  </div>
  <div class="row text-center">
    <form [formGroup]="form"  >
      <ul class="diseases">
        <li class="diseases-list" *ngFor="let data of Data; let i = index">
          <div class="" >
            <input
              type="checkbox"
              [value]="data.name"
              (change)="onCheckboxChange($event)"
              class="checkbox"
              [id]="data.name"
              [checked]="data.check"
            />
            <label [for]="data.name">
                <div class="title">{{data.name}}</div>
            </label>
          </div>
        </li>
      </ul>
    </form>
  </div>
</div>
