<div class="container">
  <div class="row justify-content-center text-center">
    <form
      class="col-md-7"
      action=""
      [formGroup]="form2Adviser"
      autocomplete="off"
    >
      <!-- Campo Por que quieres ser parte  -->

      <div class="row">
        <h2>¿Por que quieres ser parte de la Tribu Esencial?</h2>
        <input
          type="text"
          class="form-control"
          formControlName="bePart"
          placeholder="Tu Respuesta"
          pattern="^[a-zA-Z\s]*$"
        />
        <p class="text-danger" *ngIf="fieldValid('bePart')">
          Campo Requerido
        </p>
      </div>
      <p class="text-danger row" *ngIf="validPattern('bePart')">
        Debe contener solo letras.
      </p>
      <!-- Campo Como te describes -->
      <div class="column mt-3 mb-3">
        <h2>¿Cómo te describes? Nombra 3 de tus fortalezas</h2>
        <input
          type="text"
          class="form-control"
          formControlName="desc"
          placeholder="Tu Respuesta"
          pattern="^[a-zA-Z\s]*$"
        />
        <p class="text-danger" *ngIf="fieldValid('desc')">
          Campo Requerido
        </p>
        <p class="text-danger" *ngIf="validPattern('desc')">
          Debe contener solo letras y espacios.
        </p>
      </div>
    </form>
  </div>
</div>
