button {
  margin: 2px;
}
@media(min-width:320px){
    .emblem{
        width: 110px;
        margin-bottom: 40px;
    }
    h2{
        line-height: 35px;
    }
}
@media(min-width:768px){
    .emblem{
        width: 152px;
    }
}
@media(min-width:1440px){
    .emblem{
        width: 180px;
        height: 60px;
    }
    h2{
        line-height: 57px;
    }
}