<div class="container">
  <div class="row justify-content-center">
    <form
      class="col-md-7"
      action=""
      [formGroup]="form3Adviser"
      autocomplete="off"
    >
      <div class="row">
        <h3>¿Posees alguna tarjeta que te permita hacer compras online?</h3>

        <select
          class="form-select"
          formControlName="card"
          aria-label="Default select example"
        >
          <option value="" disabled>Seleccione</option>
          <option value="si">Si</option>
          <option value="no">No</option>
        </select>
      </div>
      <p class="text-danger" *ngIf="fieldValid('card')">Campo Requerido</p>
      <div class="row">
        <h3>¿Actualmente estas trabajando?</h3>
        <select
          class="form-select"
          formControlName="workingStatus"
          aria-label="Default select example"
        >
          <option value="" disabled>Seleccione</option>
          <option value="si">Si</option>
          <option value="no">No</option>
        </select>
        <p class="text-danger" *ngIf="fieldValid('workingStatus')">
          Campo Requerido
        </p>
      </div>
      <h3>
        ¿Estás dispuesto a invertir para tu uso personal y para tu hogar 120$
        aproximadamente en productos?
      </h3>
      <h2>Considerando que a su vez esto te ayudará a obtener ganancias.</h2>

      <div class="row justify-content-center">
        <select
          class="form-select"
          formControlName="help"
          aria-label="Default select example"
        >
          <option value="" disabled>Seleccione</option>
          <option value="si">Si</option>
          <option value="no">No</option>
        </select>
      </div>
      <p class="text-danger" *ngIf="fieldValid('help')">Campo Requerido</p>
    </form>
  </div>
</div>
