<div class="container">
  <div class="row justify-content-center">
    <form class="col-6" [formGroup]="form1Adviser" action="" autocomplete="off">
      <!-- Campo de ocupacion -->
      <div class="mb-3">
        <input
          type="text"
          class="form-control"
          formControlName="ocupation"
          placeholder="Ocupacion Actual*"
        />
        <span class="form-text text-danger" *ngIf="fieldValid('ocupation')">
          Ocupacion Requerida
        </span>
      </div>

      <!-- Campo de Estado Civil -->

      <div class="mb-3">
        <select
          class="form-select"
          formControlName="maritalStatus"
          aria-label="Default select example"
        >
          <option value="" disabled>Edo. Civil*</option>
          <option value="soltero">Soltero</option>
          <option value="casado">Casado</option>
        </select>
        <span class="form-text text-danger" *ngIf="fieldValid('maritalStatus')">
          Campo Requerido
        </span>
      </div>
      <!-- Campo de Hijos -->

      <div class="mb-3">
        <select
          class="form-select"
          formControlName="sons"
          aria-label="Default select example"
        >
          <option value="" selected><Table>Tienes Hijos?*</Table></option>
          <option value="true">Si</option>
          <option value="false">No</option>
        </select>
        <span class="form-text text-danger" *ngIf="fieldValid('sons')">
          Campo Requerido
        </span>
      </div>
    </form>
  </div>
</div>
