button {
  color: #ccb16b;
}

.emblem {
  background-color: #ccb16b;
  border: 0.5px solid gray !important;
  height: 43px;
  width: 153px;
  margin-bottom: 40px;
}

.emblem h2 {
  line-height: 40px;
}

@media(min-width:375px) {
  .emblem {
    width: 156px;
  }

}

@media(min-width:425px) {
  .emblem {
    width: 170px;
  }
}
@media(min-width:768px) {
    .emblem {
      width: 195px;
    }
  }
  @media(min-width:1440px) {
    .emblem {
      width: 263px;
    }
  }
