<div class="container mt-5 text-center">
  <div class="">
    <span>Asesora (o)</span>
  </div>
  <fieldset *ngIf="step == 1" [ngClass]="status ? 'animate__animated animate__fadeInRight' : 'animate__animated animate__fadeInLeft'">
    <app-form1-adviser></app-form1-adviser>      
  </fieldset>

  <fieldset *ngIf="step == 2" [ngClass]="status ? 'animate__animated animate__fadeInRight' : 'animate__animated animate__fadeInLeft'">
     <app-diseases></app-diseases>
  </fieldset>

  <fieldset *ngIf="step == 3" [ngClass]="status ? 'animate__animated animate__fadeInRight' : 'animate__animated animate__fadeInLeft'">
    <app-kits></app-kits> 
  </fieldset>

  <fieldset *ngIf="step == 4" [ngClass]="status ? 'animate__animated animate__fadeInRight' : 'animate__animated animate__fadeInLeft'">
     <app-form2-adviser></app-form2-adviser> 
  </fieldset>

  <fieldset *ngIf="step == 5" [ngClass]="status ? 'animate__animated animate__fadeInRight' : 'animate__animated animate__fadeInLeft'">
    <app-form3-adviser> </app-form3-adviser>
  </fieldset>
  <!-- Botones prev y next -->

  <div class="row justify-content-center">
    <button
      *ngIf="!(step == 1)"
      (click)="previous()"
      type="button"
      name="previous"
      class="btn btn-danger col-1"
      value="Previous"
    >
      <
    </button>

    <button
      *ngIf="!(step == 5)"
      (click)="next()"
      type="button"
      name="next"
      class="btn btn-primary col-1"
      value="Next"
    >
      >
    </button>
  </div>
</div>
