<div class="last-page animate__animated animate__fadeIn overflow-hidden">
    <div>
        <img
          id="logo"
          [src]="'assets/img/logo-blanco.svg'"
          height="auto"
          alt="logo"
          class="mt-3 animate__animated animate__fadeInLeft"
        />
      </div>
      <div class="row text-center animate__animated animate__fadeInUp">
          <h3>Gracias por brindarnos tu</h3>
          <h1 class="text-white">informacion</h1>
          <h3>pronto te contactaremos</h3>
      </div>
</div>
