<div class="container">
  <div class="col">
    <div class="row">
      <h2>
        Cliente:
      </h2>
      <p>Esta es tu opción si quieres vivir el estilo de vida
        dōTERRA y tener mayor bienestar emocional y físico.</p>
      <br>
      <p><strong class="text-dark">Cuando eres mayorista:</strong></p>
      <ul>
        <li>
          <p>Recibes 25% de descuento en todas tus compras.</p>
        </li>
        <li>
          <p>Cuentas con asesoría personalizada según tus
            necesidades.</p>
        </li>
        <li>
          <p>Entras en los canales de comunicación de nuestra
            Tribu en donde estarás en contacto con una
            maravillosa comunidad.</p>
        </li>
        <li>
          <p>Tienes acceso a nuestro grupo privado de Facebook.</p>
        </li>
        <li>
          <p>Puedes obtener productos gratis a través de rifas y
            a través del Programa de Recompensas por Lealtad
            (LRP)</p>
        </li>
      </ul>
    </div>
    <div class="row">
      <h2>
        Asesor:
      </h2>
      <p>Esta es tu opción si quieres vivir el estilo de vida dōTERRA
        y además generar ingresos por compartir el mensaje
        de bienestar.</p> <br>
      <p><strong class="text-dark">Cuando eres asesor:</strong></p>

      <ul>
        <li>Recibes 25% de descuento en todas tus compras</li>
        <li>Cuentas con asesoría personalizada según tus
          necesidades.</li>
        <li>Entras en los canales de comunicación de nuestra
          Tribu en donde estarás en contacto con una maravillosa
          comunidad.</li>
        <li>Tienes acceso a nuestro grupo privado de Facebook.</li>
        <li>Puedes obtener productos gratis a través de rifas y a
          través del programa de recompensas por lealtad</li>
        <li>Construyes tu ingreso mensual según el tiempo que
          tengas para dedicarle a este camino.</li>
      </ul>

    </div>
  </div>
</div>
