/*form styles*/
body {
  background-color: #efe4df;
}


.text-danger {
  background-color: #efe4df;
}
// STEPS

.step2 .text-center h2 {
  font-size: 30px;
  font-family: 'madeSunflower';
  margin-bottom: 55px;
}

.step2 {
  height: 70vh;
}
.step2 h2.text-center{
  font-size: 20px;
  margin-left: 4px;
}
.step3{
  margin-left: 38px;
}


h2 {
  font-family: 'madeSunflower';
}

.emblem{
  background-color: #ccb16b;
  border: 0.5px solid gray !important;
  height: 38px;
  line-height: 40px;
}

p {
  font-family: 'robotoRegular';
  font-weight: 200;
}
video{
  margin-left: 4;
}

#button-client,
#button-adviser {
  color: #000000;
  box-shadow: 0px 15px 10px -15px #111;
  background-color: #ccb16b;
  border: none;
  height: 70px;
  border-radius: 10px 10px 10px 10px;
  margin-top: 40px;
  font-family: 'madeSunflower' !important;
  cursor: pointer;
  margin-left: 2px;
}
.button-choice{
  color: #de9a6b !important;
  background-color: #efe4df !important;
}

.form1 {
  
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
}

.form-control {
  background-color: #fff4f0;
  font-family: 'madeSunflower';
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 15px 10px -15px #111;
  margin-top: 50px;

}

.form-select {
  background-color: #fff4f0;
  font-family: 'madeSunflower';
  height: 60px;
  border-radius: 10px;
  box-shadow: 0px 15px 10px -15px #111;
  margin-top: 50px;
  color: #6c757d;


}

button:not(:disabled) {
  color: #ccb16b;
  background-color: #efe4df;
  border: none;
  font-size: 50px;
  margin-left: 15px;
  margin-top: 20px;
}
button:disabled {
  color: #acacab;
  background-color: #efe4df;
  border: none;
  font-size: 50px;
  margin-left: 15px;
  margin-top: 20px;
}

#msform {
  text-align: center;
  position: relative;
  margin-top: 40px;
}

/*inputs*/
#msform input,
#msform textarea {
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 0px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: 'madeSunflower';
  color: #2C3E50;
  font-size: 13px;
}

#msform input:focus,
#msform textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #64dc68;
  outline-width: 0;
  transition: All 0.5s ease-in;
  -webkit-transition: All 0.5s ease-in;
  -moz-transition: All 0.5s ease-in;
  -o-transition: All 0.5s ease-in;
}

/*buttons*/
#msform .action-button {
  width: 100px;
  background: #e6ba5c;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button:hover,
#msform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #e7fb63;
}

#msform .action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 25px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
}

/*headings*/


/*progressbar*/
#progressbar {
  margin-bottom: 30px;
  overflow: hidden;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

#progressbar li {
  list-style-type: none;
  color: white;
  text-transform: uppercase;
  font-size: 9px;
  width: 33.33%;
  float: left;
  position: relative;
  letter-spacing: 1px;
}

#progressbar li:before {
  content: counter(step);
  counter-increment: step;
  width: 30px;
  height: 30px;
  line-height: 26px;
  display: block;
  font-size: 1.5rem;
  color: #ffffff;
  background: #d8d2d2;
  border-radius: 25px;
  margin: 0 auto 10px auto;
}

/*progressbar connectors*/
#progressbar li:after {
  content: '';
  width: 100%;
  height: 2px;
  background: #ccb16b;
  position: absolute;
  left: -50%;
  top: 9px;
  z-index: -1;
  /*put it behind the numbers*/
}

#progressbar li:first-child:after {
  /*connector not needed before the first step*/
  content: none;
}

/*marking active/completed steps green*/
/*The number of the step and the connector before it = green*/
#progressbar li.active:before,
#progressbar li.active:after {
  background: #C4C79F;
  color: white;
  font-family: 'madeSunflower';
}



#progressbar li.inactive:before {
  background: #d8d2d2;
  color: rgb(255, 255, 255);
  font-family: 'madeSunflower';

}
@-webkit-keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

@-moz-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@-o-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@media(max-width: 375px) {
  .step3 {
    margin-left: 21px;
    width: 300px;
  }

  .step2 .text-center h2 {
    font-family: 'madeSunflower';
    margin-bottom: 61px;
  }
  
}

@media(min-width:1024px) {
  .form-control {
    font-size: 30px;
    height: 80px;
  }
  strong{
    font-size: 20px;
    margin-top: 15px;
  }
  .step2 h2.text-center {
    font-family: 'madeSunflower';
    margin-bottom: 61px;
    font-size: 30px;
  }
}

@media(min-width:1440px) {
  .form-control {
    font-size: 30px;
  }
  h2{
    font-size: 45px;
  }
  p{
    font-size: 20px;
  }
  strong{
    font-size: 28px;
    margin-top: 15px;
  }
  .step2 h2.text-center {
    font-family: 'madeSunflower';
    margin-bottom: 61px;
    font-size: 40px;
  }
}
